.app {
  margin: 2.3rem 6.25rem;
}

.nav-links {
  font-size: 1.2rem;
}

.nav-links a {
  text-decoration: none;
  text-align: center;
  width: 3.688rem;
  color: var(--black-two);
  font-size: 0.813rem;
  font-weight: normal;
  margin: 1.125rem 0 0.688rem 3rem;
}

.nav-links a:hover {
  font-weight: bold;
}

.login-icon {
  position: absolute;
  font-size: 2.5rem;
  padding: 0.5rem;
  border: 1.5px solid #e8e8e8;
  border-radius: 50%;
  right: 20px;
  top: 15px;
  color: var(--azure);
  box-shadow: -3px -3px 12px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

/* Books */

.book-btn {
  margin: 5px 0;
  padding: 0 15px;
  background-color: white;
  color: #4386bf;
  border: none;
  border-left: solid 1px #e8e8e8;
}

.book-title {
  width: 100%;
  height: 1.813rem;
  margin: 0.188rem 20.188rem 0 0;
  font-family: 'Roboto Slab', serif;
  font-size: 1.4rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: var(--black-two);
}

.book-author {
  margin: 0.6rem 0 2rem 0;
  font-family: 'Roboto Slab', serif;
  font-size: 0.875rem;
  font-weight: lighter;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.book-progress {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 30%;
  border-right: solid 1px #e8e8e8;
  margin-right: 70px;
  padding-right: 20px;
}

/* Progress circle */

.percentageCircleContainer,
.percentageCircle > circle {
  width: 100px;
  height: 100px;
}

.percentageCircleContainer {
  position: relative;
  margin-right: 0.8rem;
}

.percentageCircle > circle {
  fill: none;
  stroke-width: 5px;
  stroke: #000;
  transform: translate(10px, 10px);
}

circle.circle1 {
  stroke: #e8e8e8;
  stroke-dashoffset: 0;
}

.fontColor1 {
  color: #121212;
}
